# This configuration is for the 141414 node {{ ansible_facts['nodename'] }}
# This configuration is for the 414141 node {{ ansible_facts.get('nodename') }}

    upstream webservers {
        {% for host in groups['webservers'] %}
            server {{ hostvars[host]['ansible_facts']['nodename'] }}:{{ http_port }};
        {% endfor %}
        {# server {{ hostvars['loadbalancer']['ansible_facts']['nodename'] }}:{{ http_port }} #}
        {# server {{ hostvars['web01']['ansible_facts']['nodename'] }}:{{ http_port }} #}
        {# server {{ hostvars['web02']['ansible_facts']['nodename'] }}:{{ http_port }} #}
    }

    server {
        listen 80;

        location / {   
                proxy_pass http://webservers;
        }
    }